/* Variables */

:root {
    --main-feel-color: #cd5334;
    --darker-offset-color: #546f91;
    --dark-color: #2e282a;
    --box-shadow-color: rgba(0, 0, 0, 0.56);
}

/* Global */

* {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    color: white;
    font-size: 30px;
    text-align: center;
}

/* Elements */

a {
    text-decoration: none;
    position: relative;
}

nav {
    text-align: center;
    padding-bottom: 3em;
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 0.75em;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* Classes */

.contact-container {
    box-shadow: var(--box-shadow-color) 0px 22px 70px 4px;
    background-color: var(--darker-offset-color);
    width: 50%;
    margin: 2em auto 2em auto;
    padding: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-label {
    height: 60px;
}

.form-input {
    border-radius: 6px;
    color: black;
    height: 60px;
    margin-bottom: 0.5em;
    text-align: left;
    width: 80%;
}

.form-input:focus {
    border: 3px solid var(--main-feel-color);
}

/* Button border animation inspired from https://css-tricks.com/animating-border/ */

.form-button {
    margin-top: 1em;
    height: 3em;
    width: 7em;
    background-color: var(--dark-color);
    border: 0;
    outline: solid 0px var(--main-feel-color);
    transition: outline 0.3s linear, background-color 1.6s linear;
}

.form-button:hover {
    outline-width: 10px;
    background-color: #181516;
}

.form-message {
    height: 7em;
}

.nav {
    padding: 0.7em;
}

/* Link Underline Animation inspired from: https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

.nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 5px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

.nav:hover::before {
    visibility: visible;
    transform: scaleX(0.9);
}

.title {
    background: var(--main-feel-color);
    margin: 0%;
    padding-top: 0.6em;
    padding-bottom: 0.25em;
}

.header {
    padding: 20px;
    background: var(--main-feel-color);
    padding-bottom: 1em;
}

.hero {
    padding: 20px;
    background: var(--darker-offset-color);
}

.head-shot {
    width: 25%;
    margin-top: 1.25em;
}

.primary-footer {
    padding: 20px;
    background: var(--dark-color);
    display: flex;
}

.footer-item {
    flex-grow: 1;
}

.footer-item + .footer-item {
    margin-left: 2%;
}

.footer-icons {
    margin: 0 6px 0 6px;
    padding: 0;
}

.footer-item h2 {
    margin: 10px;
    padding: 0;
}

.copyright {
    padding: 1px;
    background: var(--dark-color);
}

.copyright p {
    margin: 20px;
}

.fab {
    margin-top: 10px;
}

.fab:hover,
.fa:hover {
    color: var(--darker-offset-color);
}

/* Portfolio Layout inspired from: https://tobiasahlin.com/blog/common-flexbox-patterns/ */

.outer-container {
    display: flex;
    justify-content: center;
    padding: 0.75em 0 2em 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.item {
    width: 50%;
    height: 20em;
    object-fit: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: transform 0.05s;
    position: static;
    margin: auto;
}

.item:hover {
    box-shadow: var(--box-shadow-color) 0px 22px 70px 4px;
    transform: scale(1.03);
}

.item:nth-child(3n-2) {
    width: 100%;
}

.project-one {
    background-image: url("../images/discogra-bg.png");
    background-position: 50% 50%;
}

.project-two {
    background-image: url("../images/weather-bg-new.png");
    background-position: 60% 0%;
    color: black;
}

.project-three {
    background-image: url("../images/quiz-bg.png");
    background-position: 50% 50%;
}

.project-four {
    background-image: url("../images/feedster-bg.png");
    background-position: 50% 50%;
}

.project-five {
    background-image: url("../images/tech-blog-bg.png");
    background-position: 50% 50%;
}

.project-six {
    background-color: #edb88b;
}

.project-text {
    margin: 10px;
}

.dark-text {
    color: black;
}

.download-resume {
    margin: 1em 0 -0.4em 0;
}

.link-icons {
    font-size: 3em;
    margin-top: 0.4em;
}

.link-desc {
    margin: 10px;
}

.projects > a {
    display: none;
    width: 100%;
    height: 33%;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.8);
}

.projects:hover > a {
    display: inline-block;
}

/* IDs */

#portfolio {
    padding: 20px;
    background: var(--dark-color);
}

#contact {
    padding: 0.5em 0.5em 1em 0.5em;
    background: var(--main-feel-color);
}

/* Media Queries */

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media screen and (max-width: 1400px) {
    .project-two {
        background-color: #eeeeee;
        background-image: none;
    }
    .project-five {
        background-color: #ffffff;
        /* background-image: none; */
        background-size: 175% 70%;
    }
    .project-four {
        background-color: #2a2c2e;
        background-image: url("../images/feedster-logo.png");
        background-size: 70% 22%;
    }
}

@media screen and (max-width: 1400px) {
    .project-three {
        background-color: var(--main-feel-color);
        background-image: none;
    }
    .project-three:before {
        content: "Multiple Choice Quiz";
    }
}

@media screen and (max-width: 768px) {
    * {
        font-size: 20px;
    }
    /* TODO: add mobile hamburger nav 
    nav {
    }
    */
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.25em;
    }
    .header a {
        display: block;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    .head-shot {
        width: 75%;
    }
    .container {
        width: 100%;
    }
    .contact-container {
        width: 80%;
    }
    .form-label {
        margin: 0.5em 0 -0.5em 0;
    }
    .form-input {
        width: 100%;
    }
    .footer-item h2 {
        margin-top: 25px;
    }
    .link-desc {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 480px) {
    .primary-footer {
        flex-direction: column;
    }
    .project-five {
        background-size: 170% 50%;
    }
    .project-four {
        background-size: 75% 17%;
    }
}
